@page "/"
@layout TopMenuLayout

<PageTitle>Niveau</PageTitle>

@if (Tanks != null)
{
    <MudPaper Width="100%" Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Medium">
            @if (FireBeetleDevice != null)
            {
                <BatteryIndicator BatteryPercentage="@FireBeetleDevice.BatteryPercentage"></BatteryIndicator>
            }
            <MudStack Row="false">
                @foreach (var waterTank in Tanks)
                {
                    <MudPaper Class="pa-5 mt-3 d-flex justify-content-center" Elevation="2">
                        <MudStack Row="false" Class="align-items-center">
                            <MudText Typo="Typo.h6" Align="Align.Center">@waterTank.Name</MudText>
                            <MudText Typo="Typo.h3" Align="Align.Center">@waterTank.CurrentWaterLevel.Percentage %</MudText>
                            <div class="waterTank" style="--waterLevel:@GetWaterLevelPixels(waterTank.CurrentWaterLevel.Percentage)">

                            </div>
                        </MudStack>
                    </MudPaper>
                }
            </MudStack>
        </MudContainer>
    </MudPaper>
}


@code{
    protected override async Task OnInitializedAsync()
    {
        if (!MQTTService.ClientStarted)
        {
            await MQTTService.StartClient();
        }
        await GetData();
    }
}